Repository hualing415/healthgateway, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FuriousLlama, @sslaws, @tiagograf-AOT

.github/CODEOWNERS:

/Apps/AdminWebClient/ @FuriousLlama
/Apps/Common/ @sslaws @FuriousLlama @tiagograf-AOT
/Apps/DBMaintainer/ @sslaws
/Apps/Database/ @sslaws @FuriousLlama
/Apps/HNClient/ @sslaws
/Apps/Immunization/ @FuriousLlama
/Apps/JobScheduler/ @sslaws
/Apps/Laboratory/ @tiagograf-AOT
/Apps/Medication/ @tiagograf-AOT
/Apps/ODRProxy/ @sslaws
/Apps/Patient/ @tiagograf-AOT
/Apps/WebClient/ @FuriousLlama

add timeout for resending sms
  Apps/WebClient/src/ClientApp/src/components/modal/verifySMS.vue
  Apps/WebClient/src/ClientApp/src/models/configData.ts
  Apps/WebClient/src/ClientApp/src/models/user.ts
  Apps/WebClient/src/ClientApp/src/store/modules/user/actions.ts
  Apps/WebClient/src/ClientApp/src/store/modules/user/getters.ts
  Apps/WebClient/src/ClientApp/src/store/modules/user/mutations.ts
  Apps/WebClient/src/ClientApp/src/views/profile.vue
  Apps/WebClient/src/Server/Models/TimeoutsConfiguration.cs
  Apps/WebClient/src/appsettings.Development.json
  Apps/WebClient/src/appsettings.json
Owners: @FuriousLlama

Update LandingPage.js
  Apps/WebClient/test/functional/e2e/cypress/integration/pages/LandingPage.js
Owners: @FuriousLlama

Create parentaccess.puml
  docs/diagrams/src/parentaccess.puml
Owners: none

Added functional tests for AB#9176
  Apps/WebClient/src/ClientApp/src/views/healthInsights.vue
  Apps/WebClient/src/ClientApp/src/views/profile.vue
  Apps/WebClient/test/functional/e2e/cypress.json
  Apps/WebClient/test/functional/e2e/cypress/integration/healthinsights/insights.js
  Apps/WebClient/test/functional/e2e/cypress/integration/pages/login/KeycloakLogin.js
  Apps/WebClient/test/functional/e2e/cypress/integration/pages/login/KeycloakLoginProtected.js
  Apps/WebClient/test/functional/e2e/cypress/integration/pages/login/Login.js
  Apps/WebClient/test/functional/e2e/cypress/integration/user/profile.js
  Apps/WebClient/test/functional/e2e/cypress/integration/user/profileaccountclosure.js
  Apps/WebClient/test/functional/e2e/cypress/integration/user/registration.js
  Apps/WebClient/test/functional/e2e/cypress/support/commands.js
Owners: @FuriousLlama

Update commands.js
  Apps/WebClient/test/functional/e2e/cypress/support/commands.js
Owners: @FuriousLlama

updated AuthzClient to take injected delegates
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/AuthzClient.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/AuthorizationResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/IServerConfigurationResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/PermissionResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/PolicyResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/ProtectedResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/ProtectionResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/ServerConfigurationResource.cs
Owners: @sslaws, @FuriousLlama, @tiagograf-AOT

cleaning up smells.
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/AuthzClient.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/Configuration/KeycloakConfiguration.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/Representations/AccessTokenExtension.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/AuthorizationResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/IAuthorizationResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/IPermissionResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/IPolicyResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/IProtectedResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/IProtectionResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/PermissionResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/PolicyResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/ProtectedResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/ProtectionResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/ResourceDelegates/ServerConfigurationResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/Util/HttpClientExtensions.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/Util/KeycloakUriBuilder.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Metadata.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Representations/AbstractPolicy.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Representations/AccessPolicy.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Representations/AuthorizationResponse.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Representations/AuthorizatonRequest.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Representations/Permission.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Representations/ProtectedResource.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Representations/Scope.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Representations/Tokens/Access.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Representations/Tokens/AccessToken.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Representations/Tokens/ResourceAuthorization.cs
Owners: @sslaws, @FuriousLlama, @tiagograf-AOT

clear smells.
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Client/Configuration/ServerConfiguration.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Representations/AuthorizationRequest.cs
  Apps/Common/src/AccessManagement/Authorization/Keycloak/Representations/Tokens/PermissionTicketToken.cs
Owners: @sslaws, @FuriousLlama, @tiagograf-AOT

removed Keycloak project
  Apps/Keycloak/src/Authorization/Client/AuthZClient.cs
  Apps/Keycloak/src/Authorization/Client/ClientAuthenticator.cs
  Apps/Keycloak/src/Authorization/Client/Configuration.cs
  Apps/Keycloak/src/Keycloak.csproj
Owners: none

merged dev down to this branch
  Apps/UserManagedAccess/.gitignore
  Apps/UserManagedAccess/Dockerfile
  Apps/UserManagedAccess/Immunization.sln
  Apps/UserManagedAccess/README.md
  Apps/UserManagedAccess/azure/build.yaml
  Apps/UserManagedAccess/azure/prbuild.yml
  Apps/UserManagedAccess/sonar-config.yml
  Apps/UserManagedAccess/src/Controllers/UmaController.cs
  Apps/UserManagedAccess/src/Program.cs
  Apps/UserManagedAccess/src/Properties/launchSettings.json
  Apps/UserManagedAccess/src/Startup.cs
  Apps/UserManagedAccess/src/UserManagedAccess.csproj
  Apps/UserManagedAccess/src/appsettings.Development.json
  Apps/UserManagedAccess/src/appsettings.json
  Apps/UserManagedAccess/src/omnisharp.json
  Apps/UserManagedAccess/test/functional/ImmunizationTestsFunctional.csproj
  Apps/UserManagedAccess/test/functional/README.md
  Apps/UserManagedAccess/test/functional/api/Imms.test.cs
  Apps/UserManagedAccess/test/performance/immunization_load_k6.js
  Apps/UserManagedAccess/test/performance/k6_run.sh
  Apps/UserManagedAccess/test/unit/Controllers.Test/ImmunizationController_Test.cs
  Apps/UserManagedAccess/test/unit/Delegates.Test/ImmsDelegate_Test.cs
  Apps/UserManagedAccess/test/unit/ImmunizationTests.csproj
  Apps/UserManagedAccess/test/unit/Services.Test/ImmsService_Test.cs
  Apps/UserManagedAccess/test/unit/coverage.opencover.xml
  Apps/UserManagedAccess/test/unit/xUnitResults/TestResults.xml
Owners: none

started on UMA example service.
  Apps/UserManagedAccess/src/Controllers/UmaController.cs
  Apps/UserManagedAccess/src/Delegates/IUmaDelegate.cs
  Apps/UserManagedAccess/src/Delegates/UmaRestDelegate.cs
  Apps/UserManagedAccess/src/Services/IUmaService.cs
  Apps/UserManagedAccess/src/Services/UmaService.cs
  Apps/UserManagedAccess/src/Startup.cs
  Apps/UserManagedAccess/src/UserManagedAccess.csproj
Owners: none
